<div id="vbpg_page">
<div id="vbpg_content">

<div id="sample">

  <h1 class="vbpg_progress"></h1>

  <div class="vbpg_object_info sample hide_on_load" id="sample_info">
        <table>
      <tr>
	<th class="row_heading">VectorBase stable ID</th>
	<td class="object_value scalar" id="id"></td>
      </tr>
      <tr>
	<th class="row_heading">Name</th>
	<td class="proj_name_style object_value scalar" id="name"></td>
      </tr>
      <tr>
	<th class="row_heading">Description</th>
	<td class="object_value scalar na_if_empty" id="description"></td>
      </tr>
      <tr>
        <th class="row_heading">Species</th>
        <td><span class="object_value cvterm species_name" id="species"></span> (<span title="'ambiguous' means the higher level taxonomy term from two contradictory species assays is reported; 'derived' species is assumed to be the same as another sample (see sample manipulation assays); 'project default' is the fallback assignment made when no species identification assays have been successfully performed" alt="'ambiguous' means the higher level taxonomy term from two contradictory species assays is reported; 'derived' species is assumed to be the same as another sample (see sample manipulation assays); 'project default' is the fallback assignment made when no species identification assays have been successfully performed" class="object_value comma_separated" id="species_qualifications[*].name"></span>)</td>
      </tr>
      <tr>
        <th class="row_heading">Material type</th>
        <td class="object_value cvterm" id="type"></td>
      </tr>
    </table>
    <table class="nested_props_list no_shading">
      <tr class="list_row_template">
        <th class="row_heading prop_type" delimiter=", "></th>
        <td class="prop_value"></td>
      </tr>
    </table>
  </div>

  <div class="vbpg_object_list hide_on_load" id="sample_collections">
    <h2>Field collection</h2>
    <table>
      <tr>
        <th class="sample_assays_col1">Collection</th>
        <th>Summary</th>
        <th class="assay_projects">Project(s)</th>
      </tr>
      <tr class="list_row_template sample">
        <td>
          <a class="object_id href" title="Assay page" href="/popbio/assay/?id=####"><span class="object_value scalar" id="name"></span></a><br />
          <span class="object_value scalar" id="id"></span></td>
        <td>
          <span class="object_value scalar" id="result_summary"></span><br />
        </td>
	<td class="object_id id assay_projects" id="####">
	  <!-- will be populated with linked project IDs via AJAX calls to assay/ID/projects/head -->
        </td>
      </tr>
    </table>
  </div>

  <div class="vbpg_object_list hide_on_load" id="sample_assays">
    <h2>Assays</h2>
    <table>
      <tr>
        <th class="sample_assays_col1">Assay</th>
        <th>Summary</th>
        <th class="assay_projects">Project(s)</th>
      </tr>
      <tr class="list_row_template sample">
        <td>
          <span class="object_value scalar capitalize" id="type"></span><br />
          <a class="object_id href" title="Assay page" href="/popbio/assay/?id=####"><span class="object_value scalar" id="name"></span></a><br />
          <span class="object_value scalar" id="id"></span></td>
        <td>
          <span class="object_value clear_if_missing" id="genome_browser_path">
	    <a href="####" class="object_value href" id="genome_browser_path"><img style="margin-right:5px" align="right" src="/sites/default/files/ftp/images/browse_genome.png" /></a>
          </span>
          <span class="object_value scalar" id="result_summary"></span>
        </td>
 	<td class="object_id id assay_projects" id="####">
	  <!-- will be populated with linked project IDs via AJAX calls to assay/ID/projects/head -->
        </td>
      </tr>
    </table>
  </div>

<div class="hide_on_load">
  <div class="vbpg_object_list sample" id="sample_projects">
     <h2>This sample belongs to project(s)</h2>     		<div class="vbpg_progress_container"><div class="vbpg_progress"></div></div>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

    <div class="hide_on_load hide_on_update">
      <div class="list_row_template project">
        <div class="name"><a class="object_id href" title="Project page" href="/popbio/project/?id=####"><span class="object_value scalar" id="name"></span></a><br /><span class="object_value scalar" id="id"></span><span class="object_value clear_if_missing" id="vis_configs"><span class="vis_flag"><a class="object_id href" title="Project page with graphical presentation" href="/popbio/project/?id=####">graphical&nbsp;view</a></span></span></div>
        <div class="object_value scalar description" id="description"></div>
        <div class="sub_date">Submitted: <span class="object_value scalar" id="submission_date"></span></div>
	<div class="contacts">Contact(s): <span class="object_value comma_separated" id="contacts"></span></div>
      </div>
    </div>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

  </div>
</div>

</div>
  
<script type="text/javascript">
  params = document.location.search.toQueryParams();
  if (params.id && params.id.match("^VBS[0-9]{7}$")) {
    var spinner = $('sample').down('.vbpg_progress');
	  getObject('sample/'+params.id, spinner,
                    function(stock){ updateSampleFull(stock, $('sample')); }
                   );

  } else {
     $('sample').down('div.vbpg_progress').update("Please provide	the <tt>id</tt> URL parameter.").setStyle({ textAlign: 'center', width: '100%', background: 'pink' });
  }
</script>

</div> <!-- vbpg_content -->
</div> <!-- vbpg_page -->
<!-- spinning progress disk CC 
  -- http://www.sanbaldo.com/wordpress/1/ajax_gif/
  -- Creative Commons BY
  -->
