<div id="vbpg_page">
<div id="vbpg_content">

<div id="assay">

  <div class="vbpg_progress"></div>

  <div class="vbpg_object_info assay hide_on_load" id="assay_info">
    
    <table>
      <tr>
	<th class="row_heading">VectorBase stable ID</th>
	<td class="object_value scalar" id="id"></td>
      </tr>
      <tr>
        <th class="row_heading">Type / Name</th>
        <td class="proj_name_style"><span class="object_value scalar capitalize" id="type"></span> / <span class="object_value scalar" id="name"></span></td>
      </tr>
      <tr>
	<th class="row_heading">Description</th>
	<td class="object_value scalar na_if_empty" id="description"></td>
      </tr>
      <tr>
	<th class="row_heading">Performed by</dt>
        <td class="object_value comma_separated na_if_empty" id="performers"></td>
      </tr>
      <tr>
	<th class="object_value clear_if_missing row_heading" id="genome_browser_path">Genomic data</dt>
        <td class="object_value clear_if_missing" id="genome_browser_path">
	  <a href="####" class="object_value href" id="genome_browser_path"><img src="/sites/default/files/ftp/images/browse_genome.png" /></a>
        </td>
      </tr>
    </table>
    <table class="nested_props_list no_shading">
      <tr class="list_row_template">
        <th class="row_heading prop_type" delimiter=", "></th>
        <td class="prop_value"></td>
      </tr>
    </table>
  
  </div> <!-- assay_info -->

  <!-- Protocols -->
  <div class="vbpg_object_info hide_on_load" id="assay_protocols">
    <h2>Protocols</h2>
    <div class="assay_protocol list_row_template">
      <table>
        <tr>
          <th class="row_heading">Name</th>
          <td class="object_value scalar proj_name_style" id="name"></td>
	  <td class="nested_props_list no_shading master_cell" rowspan="4">
	    <table>
              <thead>
		<tr><th colspan="2" class="nested_props_header">Properties</th></tr>
              </thead>
              <tbody>
                <tr class="protocol_prop list_row_template">
                  <th class="prop_type row_heading" delimiter=", "></th>
                  <td class="prop_value"></td>
                </tr>
              </tbody>
            </table>
        </tr>
        <tr>
          <th class="row_heading">Description</th>
          <td class="object_value scalar na_if_empty" id="description"></td>
        </tr>
        <tr>
          <th class="row_heading">Type</th>
          <td class="object_value cvterm" id="type"></td>
        </tr>
        <tr>
          <th class="row_heading">External link</th>
          <td><a class="auto_link" href="####"><span class="object_value scalar" id="uri"></span></a></td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Collection site -->
  <div class="vbpg_object_info hide_on_load" id="assay_geolocation_info">
    <h2>Collection site</h2>
    <div id="mini_map_panel"></div>
    <div id="assay_geolocation_text">
      <table>
        <tr>
          <th class="row_heading">Name</th>
          <td class="object_value scalar" id="name"></td>
        </tr>
        <tr>
          <th class="row_heading">Coordinates</th>
          <td class="object_value clear_if_missing" id="latitude"><a class="auto_link" title="Google Maps (external site)" href="http://maps.google.com/maps?hl=en&tab=wl&z=8&q=####+(Collection+site)"><span class="object_value scalar" id="latitude"></span>,<span class="object_value scalar" id="longitude"></span></a> (<span class="object_value scalar" id="geodetic_datum"></span>)</td>
        </tr>
        <tr>
          <th class="row_heading">Altitude</th>
          <td class="object_value scalar" id="altitude"></td>
        </tr>
      </table>
      <table class="nested_props_list no_shading">
        <tr class="list_row_template">
          <th class="row_heading prop_type" delimiter=", "></th>
          <td class="prop_value"></td>
        </tr> 
      </table>
    </div><!-- assay_geolocation_text -->
    <br clear="all"/>
  </div> <!-- assay_geolocation_info -->


  <!-- Phenotypes -->
  <div class="vbpg_object_list hide_on_load" id="assay_phenotypes">
    <h2>Phenotypes</h3>
    <table>
    <tr>
      <th class="master_row">Name</th>
      <th class="master_row">Ontology-based definition</th>
      <th class="master_row">Properties</th>
    </tr>
    <tr class="list_row_template">
      <td class="object_value scalar master_row" id="name"></td>
      <td class="master_row">
        <span class="object_value cvterm linebreak_after" id="observable"></span>
        <span class="object_value cvterm linebreak_after" id="attribute"></span>
        <span class="object_value cvterm" id="value.term"></span>
        <span class="object_value scalar" id="value.text"></span>
        <span class="object_value cvterm" id="value.unit"></span>
      </td>
      <td class="nested_props_list master_row master_cell">
        <!-- extra properties -->
        <table>
          <tr class="phenotype_prop list_row_template">
            <th class="prop_type row_heading" delimiter=", "></th>
            <td class="prop_value"></td>
          </tr>
        </table>
      </td>
    </tr>
    </table>
  </div>



  <!-- Genotypes -->
  <div class="vbpg_object_list hide_on_load" id="assay_genotypes">
    <h2>Genotypes</h3>
    <table>
      <tr>
        <th class="master_row">Name</th>
        <th class="master_row">Description</th>
        <th class="master_row">Type</th>
        <th class="master_row">Properties</th>
      </tr>
      <tr class="list_row_template">
        <td class="object_value scalar master_row" id="name"></td>
        <td class="object_value scalar master_row" id="description"></td>
        <td class="object_value cvterm master_row" id="type"></td>
        <td class="nested_props_list master_row master_cell" id="props">
          <table>
            <tr class="phenotype_prop list_row_template">
              <th class="prop_type row_heading" delimiter=", "></th>
              <td class="prop_value"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

<div class="hide_on_load">
  <div class="vbpg_object_list sample" id="assay_stocks">
     <h2>Samples</h2>     		<div class="vbpg_progress_container"><div class="vbpg_progress"></div></div>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

    <table class="hide_on_load hide_on_update">
      <tr>
        <th class="master_row">Sample</th>
        <th class="master_row">Species</th>
        <th class="master_row">Properties</th>
      </tr>
      <tr class="list_row_template sample">
        <td class="master_row"><a class="object_id href" title="Sample page" href="/popbio/sample/?id=####"><span class="object_value scalar" id="name"></span></a><br>
          <span class="object_value scalar" id="id"></span></td>
        <td class="master_row">
          <span class="object_value cvterm species_name" id="species"></span><br />
        </td>
	<td class="master_row master_cell">
          <table>
            <tr class="sample_prop odd_row">
              <th class="row_heading">material type</th>
              <td class="object_value cvterm" id="type"></td>
            </tr>
          </table>
          <!-- extra properties -->
          <table class="nested_props_list">
            <tr class="list_row_template sample_prop">
              <th class="prop_type row_heading" delimiter=", "></th>
              <td class="prop_value"></td>
            </tr>
          </table>
        </td>

      </tr>
    </table>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

  </div>
</div>

<div class="hide_on_load">
  <div class="vbpg_object_list sample" id="assay_projects">
     <h2>This assay belongs project(s)</h2>     		<div class="vbpg_progress_container"><div class="vbpg_progress"></div></div>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

    <div class="hide_on_load hide_on_update">
      <div class="list_row_template project">
        <div class="name"><a class="object_id href" title="Project page" href="/popbio/project/?id=####"><span class="object_value scalar" id="name"></span></a><br /><span class="object_value scalar" id="id"></span><span class="object_value clear_if_missing" id="vis_configs"><span class="vis_flag"><a class="object_id href" title="Project page with graphical presentation" href="/popbio/project/?id=####">graphical&nbsp;view</a></span></span></div>
        <div class="object_value scalar description" id="description"></div>
        <div class="sub_date">Submitted: <span class="object_value scalar" id="submission_date"></span></div>
	<div class="contacts">Contact(s): <span class="object_value comma_separated" id="contacts"></span></div>
      </div>
    </div>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

  </div>
</div>

</div> <!-- assay -->
  
<script type="text/javascript">
  params = document.location.search.toQueryParams();
  if (params.id && params.id.match("^VBA[0-9]+$")) {
    var spinner = $('assay').down('.vbpg_progress');
    getObject('assay/'+params.id, spinner, 
              function(assay){ updateAssayFull(assay, $('assay')); }
             );
  } else {
     $('assay').down('div.vbpg_progress').update("Please provide   the <tt>id</tt> URL parameter.").setStyle({ textAlign: 'center', width: '100%', background: 'pink' });
  }
</script>

</div> <!-- vbpg_content -->
</div> <!-- vbpg_page -->
<!-- spinning progress disk CC 
  -- http://www.sanbaldo.com/wordpress/1/ajax_gif/
  -- Creative Commons BY
  -->
