.ds-descript {
    float: left;
    width: 550px;
    padding: 1%;
}

.ds-descript2 {
    float: right;
    padding: 1%;
    position:relative;
    left: -150px;
}
.ds-infoButton {
    float: left;
    width: 850px;
}
.field-label{
    text-weight: bold;
}
.label-above{
    font-weight:bold;
}

.ds-rowFluid {
    float:left;
    padding:1%;
    width:98%;
    line-height: 25px;

}
.lightGreen {
    background: #8DC478;
}
.file{
   /* line-height: 43px;*/
}
.info {
    width:60%;

}
.data-file-download-link{
    width:2px;
}
.download-table tr:nth-child(even){
    background-color: #E3ECC0;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
}
.download-table tr:nth-child(odd){
    background-color: #FDFFEF;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
}
