table.menuarrow {
/*  display: table; */
  width: 100%;
  border:none;
}

table.menuarrow tbody {
  border:none;
}

td.menuarrowtext {
  width: 100%;
  border:none;
}

td.menuarrowicon {
  width: 16px;
  border:none;
}


