<div id="vbpg_page">
<div id="vbpg_content">

<div id="projects">

  <h1 class="vbpg_progress"></h1>

      <div class="vbpg_object_list sample" id="project_list">
        		<div class="vbpg_progress_container"><div class="vbpg_progress"></div></div>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

    <div class="hide_on_load hide_on_update">
      <div class="list_row_template project">
        <div class="name"><a class="object_id href" title="Project page" href="/popbio/project/?id=####"><span class="object_value scalar" id="name"></span></a><br /><span class="object_value scalar" id="id"></span><span class="object_value clear_if_missing" id="vis_configs"><span class="vis_flag"><a class="object_id href" title="Project page with graphical presentation" href="/popbio/project/?id=####">graphical&nbsp;view</a></span></span></div>
        <div class="object_value scalar description" id="description"></div>
        <div class="sub_date">Submitted: <span class="object_value scalar" id="submission_date"></span></div>
	<div class="contacts">Contact(s): <span class="object_value comma_separated" id="contacts"></span></div>
      </div>
    </div>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

  </div>

   </div>

<script type="text/javascript">
  var projects = $('project_list');
  var spinner = projects.down('.vbpg_progress');
  var url = 'projects/head';
  var limits = {
  offset: 0,
  limit: 200
  };

  getPagedObjects(url,
  limits,
  spinner,
  function(page) {

  // sort by project stable ID - will not make sense with >200 projects
  page.records = page.records.sortBy(function(project){ return project.id });

  fillInPagedListValues(page, projects, url, limits); //down('.hide_on_load').removeClassName('hide_on_load');
  });

   </script>

</div> <!-- vbpg_content -->
</div> <!-- vbpg_page -->
<!-- spinning progress disk CC 
  -- http://www.sanbaldo.com/wordpress/1/ajax_gif/
  -- Creative Commons BY
  -->
