
/********** Main UI section ***********/
#edit-jobid{
    display:none;
}
#blastUIcontainer{
    float:left;
    width:890px;
    line-height: 100%;
}

#saveButton{
    margin-top:10px;
    float:right;
    width:175px;
}

#deleteButton{
    margin-top:10px;
    float:right;
    width:175px;
}

/* blast programs are inside this guy */
#edit-programfield{
    float:left;
    width:400px;
    padding:8px;
    padding-left:10px;
    margin:0;
}
/* individual program radios */
.form-item-program{
    margin-right:2em;
    margin-left:4em;
    float:left;
}
#blastProgramDescription{
    width:100%;
    float:left;
    text-align: center;
    font-size:9pt;
    padding:5px;
}

#instructions{
    width:100%;
    display:none;
    margin-top:10px;
    margin-bottom:10px;
}

#instructions>div{
    padding:6px;
    border: 1px solid;
    color: #D8000C;
    background-color: #FFBABA;
    font-size:10pt;
    font-weight:bold;
    line-height:14px;
}

#edit-optionsfield{
    float: left;
    height:175px;
    width:115px;
    padding:0;
    padding-left:10px;
    margin:0;
    margin-left: 25px;
    margin-bottom: 15px;

}

#edit-optionsfield2{
    float:left;
    height:175px;
    width:115px;
    padding:0;
    padding-left:10px;
    margin:0;
    margin-left: 25px;
    margin-bottom: 15px;

}

#edit-controlfield{
    line-height: 150%;
    float:left;
    width:112px;
    height:160px;
    padding:8px;
    padding-left:10px;
    margin:0;
    margin-left:16px;
    margin-bottom:5px;
    margin-top:-5px;

}


.form-item-lookup{
    margin-top:-5px;
}

.form-item-description{
    margin-top: -10px ;
}

.form-submit{
}

/*.form-submit{
	float:right;
}*/

#edit-sequence{
    font-family:monospace;
    display:inline-block; /* weird firefox bug */
    width:733px;
    height:175px;
    resize:none;
    float:left;
    clear:none;
}


#datasetOptionsDiv{
    margin-top: 10px;
}

#edit-datasets{
    width:880px;
    float:left;
    padding:2px;
    padding-left:10px;
    margin:0;
    margin-bottom:20px;
}

.overflow-wrapper{
    height:340px;
    overflow:auto;
}

/* div of organism checkboxes */
.dbContainer{
    padding: 0px;
    margin: 0px;
    border:none;
}

#stupidWrapperForFirefox{
    /* this surrounds #edit-organisms, the list of datasets . FF can't apply these permissions to fieldsets so we're putting them on a div*/
    overflow:auto;
    text-overflow: clip;
    height:340px;
    width:200px;
    float:left;
    margin:0px;
    line-height: 100%;
}

td .hitDesc{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width:150px;
}

#edit-organisms{
    border:none;
    padding:0;
    margin:0;
}

.nucleotideField{
    margin:0 12px;
    padding:0;
    padding-left: 12px;

}
.peptideField{
    margin:8px 12px 0 12px;
    padding:0;
    padding-left:12px;
}

.organismCheckboxDiv{
    border-radius: 7px;
    margin:0;
}

b {
    font-weight:bold;
    font-size:8pt;
}
.disabledFields{
    color: lightgrey;
}

fieldset.organismsField::-webkit-scrollbar {
    width: 12px;
}

fieldset.organismsField::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

fieldset.organismsField::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(180,180,180,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}




#edit-result{
    width:100%;
    margin:0;
    line-height: 150%;
    float: left;
}

input[type=submit]{
    width:70px;
}
#clearButton{
    margin-top:2px;
    margin-left:20px;
}
#clearResultsButton{
    width:108px;

}
#blastSubmitButton{

    /* PURE GREEN
        background: #86e27a;
    background: -moz-linear-gradient(top,  #86e27a 0%, #71bf67 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86e27a), color-stop(100%,#71bf67));
    background: -webkit-linear-gradient(top,  #86e27a 0%,#71bf67 100%);
    background: -o-linear-gradient(top,  #86e27a 0%,#71bf67 100%);
    background: -ms-linear-gradient(top,  #86e27a 0%,#71bf67 100%);
    background: linear-gradient(to bottom,  #86e27a 0%,#71bf67 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86e27a', endColorstr='#71bf67',GradientType=0 );
    border-color:#56914E;
    color:#355930;
    */

    background: #d2e099; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2e099 0%, #b1ca49 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1ca49), color-stop(100%,#b1ca49)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2e099 0%,#b1ca49 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2e099 0%,#b1ca49 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2e099 0%,#b1ca49 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2e099 0%,#b1ca49 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ca49', endColorstr='#b1ca49',GradientType=0 ); /* IE6-9 */

    border-color:#859937;
    color:#014f85;

    margin-top:0px;
    margin-left:20px;

}

.dbContainer{
    display:none;
}

.message{
    padding:6px;
}

/********** top results***********/
#noResults{
    float:left;
    clear:both;
    font-size:12pt;
    color: red;
}
#jobId{
    font-size:12pt;
    font-weight:bold;
}

#hspDialog{
    display:none;
}

#dlResults{
    cursor:pointer;
    cursor:hand;
}
#topLevelResults{
    clear:both;
}
.dbResult{
    border-radius: 7px;
    margin:0;
    padding: 1px;
}
#inputParams{
    display:none;
}
/********** HSP Results ***********/

#downloadSequences{
    width: 140px;
    margin-right:10px;
}
#sendToClustal{
    width: 140px;
    margin-left:5px;
    margin-right:10px;
}
#quickAlign{
    width: 140px;
}

#hspControl{
    float:right;
    line-height: 150%;
    width:100%;
}

#hspControl #quickAlign {
    float:right;
    width:150px;
}

#hspControl #passToClustalw {
    float:right;
    width:150px;
    margin-left:5px;
    margin-right:5px;
}

#hspControl #passToClustalw #passWithQuery {
    margin-left:27px;
}

#hspControl #downloadSequences {
    float:right;
    width:150px;
}

#uniqueQuery{
    float:left;
    padding:6px;
    padding-top:18px;
    font-size:110%;
}
#uniqueQueryName{
    width:350px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.hspHitGeneName {
    text-align:left;
    white-space: nowrap;
    height: 1.6em;
    overflow:hidden;
    text-overflow: ellipsis;
    max-width: 7em;
}

.hspHitName {
    text-align:left;
    white-space: nowrap;
    overflow:hidden;
    height: 1.6em;
    text-overflow: ellipsis;
}

.hspQueryName {
    text-align:left;
    white-space: nowrap;
    height: 1.6em;
    text-overflow: ellipsis;
    overflow:hidden;
    max-width: 7em;
}

.hspHitDesc {
    text-align:left;
    white-space: nowrap;
    height: 1.6em;
    text-overflow: ellipsis;
    overflow:hidden;
    max-width: 30ex;
}


#hspText{
    display:none;
}

.hidden{
    visibility: hidden;
    width: 1px;
    overflow:hidden;
}
.rightAln{
    text-align: right;
    width:10px;
    overflow: hidden;
}
.leftAln{
    text-align: left;
    width:10px;
    overflow: hidden;
}
.queryText{
    text-align:center;
    padding:0;
    overflow: hidden;
}
.dbText{
    text-align:center;
    padding:0;
    overflow: hidden;
}

.hitGraph{
    position:relative;
    overflow:hidden;
    color:white;
    text-align:center;
    font-family:monospace;
    font-size:130%;
    line-height: 100%;
}


/********** HSP details ***********/
.hsp{
    width:12px;
}
#hspContent{
    font-family:monospace;
    font-size:10pt;
}



#blastHsps{
    clear:both;
}

#hspTable {
    margin: 0px;
    padding: 0px;
    width: auto;
}

#hspTable td {
    line-height: 14px;
    margin: 0px;
    padding: 0px;
    padding-right: 8px;
    font-family:monospace;
    font-size:10pt;
    background-color: white;
    width: auto;
}

#clustalResults{
    font-family:monospace;
    font-size:10pt;
    background-color: white;
}

.hspBrowserLink{
    float:right;
    color:#0000FF;
    text-decoration:underline;
}

#blast-compatibility-banner {
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(229, 238, 204);
    border-color: rgb(128, 128, 128);
    border-style: solid;
    border-width: 1px;
    display: block;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    text-align: left;
    width: 50%;
}

#recommended-browsers {
    font-weight:bold;
}

#hspControlPanel {
    width:auto;
}

#hspControlMessage {
    float:left;
    width:43%;
    color:darkgreen;
}

b.tool {
    color:#666;
}

.block-blast .block-title {
    text-transform: capitalize;
}
