legend {
    font-size: 14px;
    font-weight: bold;
}


#edit-advanced-search {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#advanced-search-wrapper .form-item {
  margin: 6px auto;
}

#field-type-date-range .form-item {
  margin: 0px;
}

/*Removes the extra padding underneath a date-popup*/
.container-inline-date .form-item {
    margin-bottom: 0px;
}

/*Removes the padding that gets added by the Date API's date.css*/
#advanced-search-wrapper  .date-padding {
    padding: 0px;
}

.field-type-date-range td {
  width: 20px;
}

.date-range-f_date-field{
  width: 140px;
}


.ui-datepicker-calendar {
    display: none;
}

.field-type-date-range .description {
    display: none;
  }

.field-type-date-range table {
    width: 40px !important;
}

.form-type-date-popup {
    margin: 0px !important;
}

.form-type-date-popup .form-item {
    margin: 0px !important;
}

/*#advanced-search-wrapper .form-type-date-popup {
    /*display: block;
    float: left;
}*/
