<div id="vbpg_page">
<div id="vbpg_content">
<div id="project_load_status"></div>

<div id="project">

  <h1 class="vbpg_progress"></h1>

  <div class="vbpg_object_info project hide_on_load" id="project_info">
        <table>
      <tr>
	<th class="row_heading">VectorBase stable ID</th>
	<td class="object_value scalar" id="id"></td>
      </tr>
      <tr class="hide_on_load" id="external_id_row">
	<th class="row_heading">External ID</th>
	<td class="object_value scalar" id="external_id"></td>
      </tr>
      <tr>
	<th class="row_heading">Name</th>
	<td class="object_value scalar proj_name_style" id="name"></td>
      </tr>
      <tr>
	<th class="row_heading">Description</th>
	<td class="object_value scalar na_if_empty" id="description"></td>
      </tr>
      <tr>
        <th class="row_heading">Contact(s)</th>
        <td class="object_value comma_separated" id="contacts"></td>
      </tr>
      <tr>
	<th class="row_heading">Dates</th>
	<td class="master_cell"><table style="width:100%;"><tr>
	      <td><i>Submitted:</i>&nbsp;<span class="object_value scalar na_if_empty date" id="submission_date"></span></td>
	  <td><i>Public release:</i>&nbsp;<span class="object_value scalar na_if_empty date" id="public_release_date"></span></td>
	  <td><i>Last modified:</i>&nbsp;<span class="object_value scalar date" id="last_modified_date"></span></td>
            </tr></table>
        </td>
      </tr>
    </table>
    <table class="nested_props_list no_shading">
      <tr class="list_row_template">
        <th class="row_heading prop_type" delimiter=", "></th>
        <td class="prop_value"></td>
      </tr>
    </table>

    <div class="nested_object_list" id="publications">
      <h2>Publications</h2>
      <div class="publications">
        <div class="list_row_template publication">
          <div>
	    <span class="object_value scalar" id="title"></span>
	  </div>
          <div class="object_value comma_separated" id="authors"></div>
          <div>
	    <span class="object_value cvterm" id="status"></span>
	    <span class="object_value clear_if_missing" id="pubmed_id"><a class="object_value href" href="http://www.ncbi.nlm.nih.gov/pubmed/####" id="pubmed_id">PubMed</a></span>
	    <span class="object_value clear_if_missing" id="doi"><a class="object_value href" href="http://dx.doi.org/####" id="doi">Journal</a></span>
	    <span class="object_value clear_if_missing" id="url"><a class="object_value href" href="####" id="url">URL</a></span>

	  </div>
        </div>
      </div>
    </div>
  </div>

  <div class="vbpg_object_list visualisation hide_on_load" id="project_visualisations">
    <h2>Graphical summaries</h2>
    <ul id="tabnav"> <!-- list item tab navigation links will be generated here --> </ul>
    <div class="list_row_template">
      <!--  <h3 class="object_value scalar" id="title"></h3> -->
      <div class="sandbox hide_on_load">
        <form>
          <textarea cols=100 rows=8>Visualisation configuration will appear here...</textarea>
        </form>
      </div>
      <div class="vis_container">
        <div class="vis_panel"><img src="/sites/all/modules/custom/popbio/htdocs/vbpg_images/bigrotation2.gif" width="32" height="32"/></div>
      </div>
    </div>
  </div>

  <!-- to do: props, pubs, contacts, metaproject relationships? -->
  
<div class="hide_on_load">
  <div class="vbpg_object_list sample" id="project_stocks">
     <h2>Samples</h2>     		<div class="vbpg_progress_container"><div class="vbpg_progress"></div></div>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

    <table class="hide_on_load hide_on_update">
      <tr>
        <th class="master_row">Sample</th>
        <th class="master_row">Species</th>
        <th class="master_row">Properties</th>
      </tr>
      <tr class="list_row_template sample">
        <td class="master_row"><a class="object_id href" title="Sample page" href="/popbio/sample/?id=####"><span class="object_value scalar" id="name"></span></a><br>
          <span class="object_value scalar" id="id"></span></td>
        <td class="master_row">
          <span class="object_value cvterm species_name" id="species"></span><br />
        </td>
	<td class="master_row master_cell">
          <table>
            <tr class="sample_prop odd_row">
              <th class="row_heading">material type</th>
              <td class="object_value cvterm" id="type"></td>
            </tr>
          </table>
          <!-- extra properties -->
          <table class="nested_props_list">
            <tr class="list_row_template sample_prop">
              <th class="prop_type row_heading" delimiter=", "></th>
              <td class="prop_value"></td>
            </tr>
          </table>
        </td>

      </tr>
    </table>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

  </div>
</div>

<div class="hide_on_load">
  <div class="vbpg_object_list sample" id="project_components">
     <h2>This meta-project contains data from primary project(s)</h2>     		<div class="vbpg_progress_container"><div class="vbpg_progress"></div></div>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

    <div class="hide_on_load hide_on_update">
      <div class="list_row_template project">
        <div class="name"><a class="object_id href" title="Project page" href="/popbio/project/?id=####"><span class="object_value scalar" id="name"></span></a><br /><span class="object_value scalar" id="id"></span><span class="object_value clear_if_missing" id="vis_configs"><span class="vis_flag"><a class="object_id href" title="Project page with graphical presentation" href="/popbio/project/?id=####">graphical&nbsp;view</a></span></span></div>
        <div class="object_value scalar description" id="description"></div>
        <div class="sub_date">Submitted: <span class="object_value scalar" id="submission_date"></span></div>
	<div class="contacts">Contact(s): <span class="object_value comma_separated" id="contacts"></span></div>
      </div>
    </div>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

  </div>
</div>

</div>
  
<script type="text/javascript">
  params = document.location.search.toQueryParams();
  if (params.id && params.id.match("^VBP[0-9]{7}$")) {
    var spinner = $('project').down('.vbpg_progress');
	  getObject('project/'+params.id+'/head', spinner,
                function(project){updateProjectFull(project, $('project'), params.sandbox); }
               );
  } else {
     $('project').down('div.vbpg_progress').update("Please provide	the <tt>id</tt> URL parameter.").setStyle({ textAlign: 'center', width: '100%', background: 'pink' });
  }
</script>

</div> <!-- vbpg_content -->
</div> <!-- vbpg_page -->
<!-- spinning progress disk CC 
  -- http://www.sanbaldo.com/wordpress/1/ajax_gif/
  -- Creative Commons BY
  -->
