
.quicktabs_wrapper.quicktabs-style-tutorials-navlist {
  display: block;
  /*width: 100px;*/
  /*position: relative;
  float: left;
  z-index: 10; /* tabbed list floats above archive box */
 /* margin: 6px 0 0 0;
  background: transparent;*/
}

ul.quicktabs-tabs.quicktabs-style-tutorials-navlist {
  /*float: left;
  padding: 4px 0;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 20%;*/
  width: 20%;
  position: relative;
  float: left;
  z-index: 10; /* tabbed list floats above archive box */
  margin: 15px 0 0 0;
  background: transparent;

  list-style-type: none;
  padding: 0;

}
ul.quicktabs-tabs.quicktabs-style-tutorials-navlist li {
  /*display: block;
  margin-right: -1px;*/
  padding: 0;

  /*margin: 0;
  padding: 10px 0;
  text-align: center;
  color: #27638c;
  font-size: 1.1em;*/
  /*border: solid 1px #fff;*/
  /*border-right: solid 1px #b3b3b3;
  /*-moz-border-radius-topleft: 5px;  /* Firefox */
  /*(-moz-border-radius-bottomleft: 5px;  /* Firefox */
  /*-webkit-border-top-left-radius: 5px;  /* Safari, Chrome */
  /*-webkit-border-bottom-left-radius: 5px;  /* Safari, Chrome */
  /*border-top-left-radius: 5px;  /* CSS3 */
  /*border-bottom-left-radius: 5px;  /* CSS3 */
}

ul.quicktabs-tabs.quicktabs-style-tutorials-navlist li a {
  display: block;
  /*color: #404040;
  text-decoration: none;
  margin: 0;
  height: 23px;*/
  font-weight: bold;
  white-space: normal;
  margin: 0;
  padding: 8px 10px;
  text-align: right;
  color: #27638c;
  font-size: 1.3em;
  /*border: solid 1px #fff;*/
  border-right: solid 1px #b3b3b3;
  -moz-border-radius-topleft: 5px;  /* Firefox */
  -moz-border-radius-bottomleft: 5px;  /* Firefox */
  -webkit-border-top-left-radius: 5px;  /* Safari, Chrome */
  -webkit-border-bottom-left-radius: 5px;  /* Safari, Chrome */
  border-top-left-radius: 5px;  /* CSS3 */
  border-bottom-left-radius: 5px;  /* CSS3 */
}
ul.quicktabs-tabs.quicktabs-style-tutorials-navlist li.active {
  /*background: #F0F8FC;
  border-top: 1px solid #BFD0FF;
  border-bottom: 1px solid #BFD0FF;*/
/*
  color: #f87b07;
  background: #fff;
  border: solid 1px #b3b3b3;
  border-right: none;
  padding-right: 1px;*/
}
ul.quicktabs-tabs.quicktabs-style-tutorials-navlist li.active a {
  color: #007734;
  font-weight: bold;
  color: #f87b07;
  background: #fff;
  border: solid 1px #b3b3b3;
  border-right: none;
}

.ajax-progress {
  float: left;
}
  

.quicktabs_main.quicktabs-style-tutorials-navlist {
  /*float: left;
  border: 1px solid #BFD0FF;
  background: #F0F8FC;
  padding: 10px;
  min-height: 64px;
  position: relative;
  z-index: 1;
  width: 70%;*/
  min-height: 380px; 
  position: relative;
  float: left;
  margin: 0 0 0 -1px; /* allows tabbed list to overlap this box by 1px so active tab connects to box */
  padding: 10px 22px;
  width: 74%;
  border: solid 1px #b3b3b3;
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Chrome */
  border-radius: 5px; /* CSS3 */ 
}

.quicktabs_main.quicktabs-style-tutorials-navlist .views-row {
  margin: 12px 0;
  line-height: 1.3em;
}


.quicktabs_main.quicktabs-style-tutorials-navlist  tr td p {
  margin: 0px;  
}

.quicktabs_main.quicktabs-style-tutorials-navlist  tr th {
  padding: 0px 0 5px 5px;
}

.quicktabs_main.quicktabs-style-tutorials-navlist  tr td {
  padding: 10px 10px 10px 5px;
  vertical-align: top;
}

.quicktabs_main.quicktabs-style-tutorials-navlist  .views-row {
  margin: 12px 0;
  line-height: 1.3em;
}

.quicktabs_main.quicktabs-style-tutorials-navlist  tr.odd td {
  background-color: #FFFFFF;
}

.quicktabs_main.quicktabs-style-tutorials-navlist  tr.even td {
  background-color: #F5F5F5;
}

.quicktabs_main.quicktabs-style-tutorials-navlist  tr td > a {
  font-size: medium;
  font-weight: bold;
}

.quicktabs_main.quicktabs-style-tutorials-navlist  .views-field-title {
  width: 65%;
}

.quicktabs_main.quicktabs-style-tutorials-navlist  .views-field-field-included-files {
  width: 24%;
}

/*.quicktabs_main.quicktabs-style-tutorials-navlist  .views-field-changed {
  vertical-align: top; 
}*/

.quicktabs_main.quicktabs-style-tutorials-navlist  th.views-field a{
  font-size: small;
}

.quicktabs_main.quicktabs-style-tutorials-navlist .views-table {
  margin-bottom: 0px;
}

.quicktabs_main.quicktabs-style-tutorials-navlist object {
  width: 100% 
}

.panel-col-last .panel-separator {
  margin: 0 0 5em 0;
}

.panel-col-last .inner {
  margin: 1em 0 0 0 ;
}

.panel-panel.panel-col > div {
  position: relative;
  padding-bottom: 20px;
}

#orange-tutorial-image-panel {
  position: absolute;
  width: 20%;
  top: 260px;
}

#orange-tutorial-image-panel img {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: block;
}
