<div id="vbpg_page">
<div id="vbpg_content">

<div id="samples">

  <h1 class="vbpg_progress"></h1>

      <div class="vbpg_object_list sample" id="sample_list">
        		<div class="vbpg_progress_container"><div class="vbpg_progress"></div></div>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

    <table class="hide_on_load hide_on_update">
      <tr>
        <th class="master_row">Sample</th>
        <th class="master_row">Species</th>
        <th class="master_row">Properties</th>
      </tr>
      <tr class="list_row_template sample">
        <td class="master_row"><a class="object_id href" title="Sample page" href="/popbio/sample/?id=####"><span class="object_value scalar" id="name"></span></a><br>
          <span class="object_value scalar" id="id"></span></td>
        <td class="master_row">
          <span class="object_value cvterm species_name" id="species"></span><br />
        </td>
	<td class="master_row master_cell">
          <table>
            <tr class="sample_prop odd_row">
              <th class="row_heading">material type</th>
              <td class="object_value cvterm" id="type"></td>
            </tr>
          </table>
          <!-- extra properties -->
          <table class="nested_props_list">
            <tr class="list_row_template sample_prop">
              <th class="prop_type row_heading" delimiter=", "></th>
              <td class="prop_value"></td>
            </tr>
          </table>
        </td>

      </tr>
    </table>
        <div class="vbpg_pager hide_unless_paging"><span class="vbpg_pager_first">first</span><span class="vbpg_pager_prev">&larr;prev</span><span class="object_value scalar" id="start">?</span> to <span class="object_value scalar" id="end">?</span> of <span class="object_value scalar" id="count">?</span><span class="vbpg_pager_next">next&rarr;</span><span class="vbpg_pager_last">last</span></div>

  </div>

</div>
  
<script type="text/javascript">
	var samples = $('sample_list');
	var spinner = samples.down('.vbpg_progress');
	var url = 'stocks';
	var limits = {
	  offset: 0,
	  limit: 20
	};

	getPagedObjects(url,
	limits,
	spinner,
	function(page) {
	fillInPagedListValues(page, samples, url, limits); //down('.hide_on_load').removeClassName('hide_on_load');
	});

</script>

</div> <!-- vbpg_content -->
</div> <!-- vbpg_page -->
<!-- spinning progress disk CC 
  -- http://www.sanbaldo.com/wordpress/1/ajax_gif/
  -- Creative Commons BY
  -->
